In [1]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.cross_validation import cross_val_score
import pandas as pd
import numpy as np

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
feature_list = ['Pclass', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked']
target_name = ['Survived']

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
age_means = train.groupby('Sex').mean().Age
def fill_age(gender, age):
    if np.isnan(age):
        return age_means[gender]
    return age

fare_means = train.groupby('Pclass').mean().Fare
def fill_fare(pclass, fare):
    if np.isnan(fare):
        return fare_means[plcass]
    return fare

In [6]:
def preprocessing(obj):    
    obj.Age = train.apply(lambda x:fill_age(x['Sex'], x['Age']), axis = 1)    
    # train.Age.fillna(train.groupby('Sex').mean().Age, inplace=True)

    # train.dropna(subset=['Age'], inplace=True)
    # train.Age.fillna(train.groupby('Sex').mean().Age, inplace=True)
    obj.Embarked.fillna(train.Embarked.value_counts().index[0], inplace=True)
    obj.Fare = train.apply(lambda x : fill_fare(x['Pclass'], x['Fare']), axis = 1)
    obj.Embarked.replace(to_replace=['S', 'C', 'Q'], value=[0, 1, 2], inplace=True)
    obj.Sex.replace(to_replace=['female', 'male'], value=[0, 1], inplace=True)
    obj.fillna(obj.median())

In [7]:
preprocessing(train)

In [8]:
clf = DecisionTreeClassifier()

In [9]:
data = train[feature_list]
ground_truth = train[target_name]
# test_validate = train[target_name][-20:]

In [10]:
clf = clf.fit(data[feature_list], ground_truth[target_name])

In [11]:
# test_data = train[feature_list][-20:]

In [12]:
preprocessing(test)

In [13]:
predicted_val = clf.predict(test[feature_list])

In [14]:
# original_val = np.array(test_validate[target_name]).transpose()[0]

In [15]:
# counter = 0
# for i in range(len(predicted_val)):
#     if predicted_val[i] == original_val[i]:
#         counter += 1

In [16]:
# print('Around ', counter/len(predicted_val) * 100, '% accurate')

In [17]:
predicted_val = pd.DataFrame(predicted_val)
# test['PassengerId']
predicted_val.columns = ['Survived']
submission = pd.concat([test['PassengerId'], predicted_val], axis=1)

In [18]:
submission.to_csv('decision_tree_sub2.csv', index=False)

In [19]:
export_graphviz(clf, out_file='tree.dot')