In [28]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
from preprocess import divideDataset, processCatData, processNumData
import warnings

In [29]:
warnings.filterwarnings("ignore")

In [30]:
feature_list = ['Pclass', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked']
target_name = ['Survived']

In [31]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [32]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
# preprocessing(train)

In [34]:
X_train, X_test, y_train, y_test = divideDataset()

In [35]:
data = np.hstack((processCatData(X_train), processNumData(X_train)))

In [36]:
clf = DecisionTreeClassifier()

In [37]:
# data = train[feature_list]
ground_truth = train[target_name]
# test_validate = train[target_name][-20:]

In [38]:
clf = clf.fit(data, y_train)

In [39]:
test_data = np.hstack((processCatData(test), processNumData(test)))

In [40]:
predicted_val = clf.predict(test)

In [ ]:
# original_val = np.array(test_validate[target_name]).transpose()[0]

In [41]:
score = accuracy_score(predicted_val, y_test)

In [42]:
print(score)

0.744444444444

In [ ]:
# counter = 0
# for i in range(len(predicted_val)):
#     if predicted_val[i] == original_val[i]:
#         counter += 1

In [ ]:
# print('Around ', counter/len(predicted_val) * 100, '% accurate')

In [ ]:
predicted_val = pd.DataFrame(predicted_val)
# test['PassengerId']
predicted_val.columns = ['Survived']
submission = pd.concat([test['PassengerId'], predicted_val], axis=1)

In [ ]:
# submission.to_csv('decision_tree_sub2.csv', index=False)

In [ ]:
# export_graphviz(clf, out_file='tree.dot')